
@using PagedList.Mvc;
@using PagedList;
@{
    int tipo = ViewBag.Tipo;
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
@using (Html.BeginForm("_Listado", "Experiencia", FormMethod.Post, new { id = "adminForm" }))
{
    @Html.Hidden("tipo", tipo)
    @Html.Hidden("nombreOrderBy", "")
    @Html.Hidden("tituloOrderBy", "")
    @Html.Hidden("desdeOrderBy", "")
    @Html.Hidden("hastaOrderBy", "")
    @Html.Hidden("pagina", "")

    <table class="table table-responsive table-striped  table-condensed table-hover">
        <thead>
            <!--FILTRO-->
            <tr>
                <th>
                    <div class="col-xs-12 col-sm-10 input-group">
                        @if (tipo == 1)
                        {
                            @Html.TextBox("porNombre", null, new { @class = "form-control input-sm", placeholder = "Buscar por Empresa" })
                        }
                        else
                        {
                            @Html.TextBox("porNombre", null, new { @class = "form-control input-sm", placeholder = "Buscar por Estudio" })
                        }

                        <span class="input-group-btn">
                            <button id="btn-porNombre" class="btn btn-default btn-sm" type="button" title="Quitar filtro"><i class="fa fa-trash-o"></i></button>
                        </span>
                    </div>
                </th>
                <th>
                    <div class="col-xs-12 col-sm-12 input-group">
                        @if (tipo == 1)
                        {
                            @Html.TextBox("porTitulo", null, new { @class = "form-control input-sm", placeholder = "Buscar por Cargo" })
                        }
                        else
                        {
                            @Html.TextBox("porTitulo", null, new { @class = "form-control input-sm", placeholder = "Buscar por Centro" })
                        }
                        <span class="input-group-btn">
                            <button id="btn-porTitulo" class="btn btn-default btn-sm" type="button" title="Quitar filtro"><i class="fa fa-trash-o"></i></button>
                        </span>
                    </div>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <!--ID miTabla se utilizara en jquery para seleccionar la ordenacion correcta-->
            <tr id="miTabla">
                @if (tipo == 1)
                {
                    <th style="width:20%;"><a href="#" class="filtro" id="nombreOrder">Empresa</a></th>
                    <th style="width:30%;"><a href="#" class="filtro" id="tituloOrder">Cargo</a></th>
                }
                else
                {
                    <th style="width:20%;"><a href="#" class="filtro" id="nombreOrder">Estudios</a></th>
                    <th style="width:30%;"><a href="#" class="filtro" id="tituloOrder">Centro</a></th>
                }
                <th class="text-center" style="width:5%;"><a href="#" class="filtro" id="desdeOrder">Desde</a></th>
                <th class="text-center" style="width:5%;"><a href="#" class="filtro" id="hastaOrder">Hasta</a></th>
                <th style="width:1%;"><button id="btnEliminar" type="button" value="1" class="btn btn-danger btn-xs fa fa-trash-o"></button></th>
                <!--Solo elimnar si se pulsa el boton eliminar... este hidden se modifica desde paginacion.js-->
                @Html.Hidden("Eliminar")
            </tr>   
        </thead>
        <tbody>

            @foreach (var expe in ViewBag.Listado)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Acciones", "Experiencia", new { tipo= tipo, id = expe.id })">@expe.Nombre<span></span></a>
                    </td>
                    <td>@expe.Titulo</td>
                    <td class="text-center align-middle">@expe.Desde.ToString("dd/MM/yyyy")</td>
                    @if (expe.Actual == true)
                    {
                        <td class="label label-info" style="vertical-align: bottom;">Actualmente</td>
                    }
                    else
                    {
                        <td class="text-center align-middle">@expe.Hasta.ToString("dd/MM/yyyy")</td>
                    }                    
                    <td class="text-center"><input type="checkbox" class="seleccion" name="idEliminar" value="@expe.id" /></td>
                </tr>
            }

        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-12 footer-class">
            <div class="col-xs-12 col-sm-1" style="margin-top:12px">
                <label>Por Página...</label>
            </div>
            <div class="col-xs-12 col-sm-2" style="margin-top:20px">
                @Html.DropDownList("displayNum", new List<SelectListItem> {
                            new SelectListItem {Text="Uno",Value="1" },
                            new SelectListItem {Selected=true, Text="Cinco", Value="5" },
                            new SelectListItem {Text="Diez", Value="10" },
                            new SelectListItem {Text="Veinte", Value="20" }
                        }, new { @class = "form-control input-sm" })
            </div>
            <div class="col-xs-12 col-sm-9">
                @Html.PagedListPager((IPagedList)ViewBag.Listado, page => Url.Action("Index",
                   new
                   {
                       pagina = page
                   }))
            </div>
        </div>
    </div>

}
