@model Models.Experiencia
@{
    if (Model.Tipo == 1 && Model.id == 0)
    {
        ViewBag.Title = "Nueva Experiencia";
    }
    if (Model.Tipo == 1 && Model.id != 0)
    {
        ViewBag.Title = "Edición Experiencia";
    }
    if (Model.Tipo == 2 && Model.id == 0)
    {
        ViewBag.Title = "Nuevo Estudio";
    }
    if (Model.Tipo == 1 && Model.id != 0)
    {
        ViewBag.Title = "Editar Estudio";
    }

}

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.11.3.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-es.js"></script>
<script src="~/Scripts/jquery.maskedinput.js"></script>
<script src="http://cdn.tinymce.com/4.4/tinymce.min.js"></script>

<h3 class="page-header">@ViewBag.Title</h3>

@using (Ajax.BeginForm("Agregar", new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "mensaje",
    LoadingElementId = "cargando",
    OnSuccess = "onSuccess"
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(e => e.id)
    @Html.HiddenFor(e => e.Tipo)
    @Html.HiddenFor(e => e.Usuario_id)
    <div class="form-group col-xs-12 col-sm-6">
        @if (Model.Tipo == 1)
        {<label>Empresa</label>}
        else
        {
            {<label>Estudios</label>}
        }
        @Html.TextBoxFor(e => e.Nombre, new { @class = "form-control", @placeholder = "Ingrese su nombre" })
        @Html.ValidationMessageFor(e => e.Nombre, "", new { @class = "label label-danger" })
    </div>
    <div class="form-group col-xs-12 col-sm-6">
        @if (Model.Tipo == 1)
        {<label>Cargo</label>}
        else
        {<label>Centro</label>}

        @Html.TextBoxFor(e => e.Titulo, new { @class = "form-control", @placeholder = "Ingrese su nombre" })
        @Html.ValidationMessageFor(e => e.Titulo, "", new { @class = "label label-danger" })
    </div>

    <div class="form-group col-xs-12 col-sm-3">
        <label>Desde</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            @Html.EditorFor(e => e.Desde, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(e => e.Desde, "", new { @class = "label label-danger" })
        </div>
    </div>
    <div id="FechaFinal" class="form-group col-xs-12 col-sm-3">
        <label>Hasta</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            @Html.EditorFor(e => e.Hasta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(e => e.Hasta, "", new { @class = "label label-danger" })
        </div>
    </div>

    <div class="form-group colo-xs-12 col-sm-6" style="padding:30px;">
        @if (Model.Tipo == 1)
        {
            <label>Trabajo aquí Actualmente</label>
        }
        else
        {
            <label>Estudio aquí Actualmente</label>
        }
        @Html.CheckBoxFor(e => e.Actual)
    </div>

    <div class="form-group col-xs-12">
        <label>Descripción</label>

        @Html.TextAreaFor(e => e.Descripcion, new { @class = "form-control", @placeholder = "Ingrese su nombre" })
        @Html.ValidationMessageFor(e => e.Descripcion, "", new { @class = "label label-danger" })
    </div>

    <div class="well well-sm col-xs-12">
        <div id="mensaje" class="col-xs-12 col-sm-8"></div>
        <div class="col-xs-12 col-sm-4 text-right">
            @Html.ActionLink("Volver", "Index", "Experiencia", new { Tipo=Model.Tipo}, new { @class = "btn btn-default" })
            <img id="cargando" src="~/Content/images/ajax-loader.gif" style="display:none;" />
            <button id="btnGuardar" class="btn btn-primary" type="submit">Guardar</button>
        </div>
    </div>
}
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>


@section Scripts {
    <script>


            $("#Desde").datepicker({ dateFormat: "dd/mm/yy" }).mask("99/99/9999");
            $("#Hasta").datepicker({ dateFormat: "dd/mm/yy" }).mask("99/99/9999");

            //Deshabilitar dias futuros
            $("#Desde").datepicker("option", "maxDate", "+0m +0d");
            $("#Hasta").datepicker("option", "maxDate", "+0m +0d");

            //Mostrar rango de 50 años
            $("#Desde").datepicker("option", "yearRange", "-50:+0");
            $("#Hasta").datepicker("option", "yearRange", "-50:+0");

            //evitar que la validacion cliente de error ya que solo valida mm/dd/yyyy
            // se hace uso de la libreria maskedinput para enmascarar los input de fecha y salvar la validacion
            $.validator.addMethod('date',
            function (value, element, params) {
                if (this.optional(element)) {
                    return true;
                }
                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });

    $(document).ready(function () {
        Colorea('@Session["menuActivo"]');

        if ($('#Actual').prop('checked')) $('#FechaFinal').css('visibility', 'hidden');

        $('#Desde').change(function () {
            $('#Hasta').val($('#Desde').val());
        });

        $('#Actual').change(function () {
            if ($('#Actual').prop('checked')) $('#FechaFinal').css('visibility', 'hidden');
            else $('#FechaFinal').css('visibility', 'inherit');
        });

        tinyMCE.init({
            // General options
            mode: "textareas",
            theme: "modern",
            height: 150,
            plugins: "advlist",
            advlist_bullet_styles: "square",
            plugins: "hr",
        });

    });
    </script>
}




