<script src="~/Scripts/paginacion.js"></script>
@{
    int tipo = ViewBag.Tipo;
}
@Html.Hidden("MenuActivo")
<div id="experiencia" class="page">

    <h3 class="page-header remove-margin">
        @Html.ActionLink("Agregar", "Acciones", "Experiencia", new { tipo = tipo }, new { @class = "btn btn-primary pull-right", title="Agregar" })
        @if (tipo == 1)
        {
            <i class="fa fa-briefcase"> </i>
        }
        else
        {
            <i class="fa fa-university"> </i>
        } 
        @ViewBag.Title
    </h3>

    <div id="parcial" class="col-xs-12">

        @Html.Action("_Listado", "Experiencia", new { tipo = tipo })
    </div>

</div>

<script>
    $(document).ready(function () {
        Colorea('@Session["menuActivo"]');
    });
</script>