@model Models.Inscritos
@{
    ViewBag.Title = "Datos Candidato";
    int estado = Convert.ToInt16(Session["EstadoFiltro"]);
 }

<h3 class="page-header">
    <i class="fa fa-user"> </i>
    @ViewBag.Title
    @Html.ActionLink("Volver", "Oferta", new { id = Session["NumOferta"], estado_id = estado }, new { @class = "btn btn-default pull-right" })
</h3>
@using (Ajax.BeginForm("DatosUsuario",new AjaxOptions
{
    HttpMethod="POST",
    Confirm ="¿Esta seguro de realizar esta acción?",
    InsertionMode =InsertionMode.Replace,
    UpdateTargetId="responAjax"
}))
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(i=>i.NumInscripcion)
    @Html.HiddenFor(i=>i.Usuario_id_D)
    @Html.HiddenFor(i=>i.estado_id)
    @Html.HiddenFor(i=>i.Oferta_id)
    <div class="col-xs-12 text-right">
        <a href="@Url.Content("~/Perfil/Index/"+Model.Usuario_id_D)" target="_blank" title="Ver Perfil" class="btn btn-primary btn-xs"><i class="fa fa-address-book-o"></i></a>
        <button id="btn-pres" type="submit" class="btn btn-success btn-xs" title="Pre-Seleccionar Candidato"><i class="fa fa-thumbs-o-up"></i></button>
        <button id="btn-rech" type="submit" class="btn btn-success btn-xs" title="Rechazar Candidato" style="background:#343A40"><i class="fa fa-thumbs-o-down"></i></button>
    </div>
    <div class="container-fluid ficha">
        <div class="row" style="margin-top:20px; padding:20px;">
            <div class="col-xs-12 col-sm-3 text-center">
                @if (Model.Usuario.Foto == "noFoto.jpg")
    {
                    <img id="fotoPerfil" src="~/Content/images/noFoto.jpg" title="@Model.Usuario.Nombre" class="img-thumbnail" style="width:180px">
                }
                else
                {
                    <img src="~/Uploads/@Model.Usuario_id_D/FotoPerfil/@Model.Usuario.Foto" title="@Model.Usuario.Nombre" class="img-thumbnail" style="width:180px">
                }
                <div id="responAjax" class="sup">
                    Estado:
                    @switch (Model.estado_id)
                    {
                        case 5:
                              <span class="badge" style="background:#17A2B8; color:white;">Leido</span>
                            break;
                        case 6:
                            <span class="badge" style="background:#343A40; color:white;">Rechazado</span>
                            break;
                        case 7 :
                            <span class="badge" style="background:#28A745; color:white;">Pre-Selec</span>
                            break;
                    }
                    
                </div>

            </div>
            <div class="col-xs-12 col-sm-6 well well-sm">
                <div class="col-xs-12">
                    <span>DNI:</span>
                    <label>@Model.Usuario.Dni</label>
                </div>
                <div class="col-xs-12">
                    <span>Nombre:</span>
                    <label>@Model.Usuario.Nombre &nbsp;@Model.Usuario.Apellido</label>
                </div>
                <div class="col-xs-12">
                    <span>Nacimiento</span>
                    <label>@string.Format("{0:d}", Model.Usuario.FNacimiento)</label>
                </div>
                <div class="col-xs-12">
                    <span>Ciudad:</span>
                    <label>@Model.Usuario.Ciudad</label>
                </div>
                <div class="col-xs-12">
                    <span>Telefono:</span>
                    <label>@Model.Usuario.Telefono / @Model.Usuario.Movil</label>
                </div>
                <div class="col-xs-12">
                    <span>Correo:</span>
                    <a href="mailto:@Model.Usuario.Email">@Model.Usuario.Email</a>
                </div>
            </div>
        </div>
    </div>
}
<div class="container">
    <span style="color:gray"><b>Oferta: </b>@TempData["Nombre"]</span>
</div>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
    $(document).ready(function () {
        Colorea('@Session["menuActivo"]');
        $('#btn-pres').click(function () {
            $('#estado_id').val(7)
        });
        $('#btn-rech').click(function () {
            $('#estado_id').val(6)
        });
        })
    </script>
